<% if resource.errors.any? %>
  <div class="notification is-danger is-light">

    <div id="error_explanation">
      <strong>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </strong>
      <br/>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>