<h1>Editing Foreign Sources Plant</h1>

<%= render 'form', foreign_sources_plant: @foreign_sources_plant %>

<%= link_to 'Show', @foreign_sources_plant %> |
<%= link_to 'Back', foreign_sources_plants_path %>
