<div class="species-grid-item">
  <aside style="background-image: url(<%= species.main_image_url %>)"></aside>
  <main>
    <h2 class="title is-5"><%= species.scientific_name %></h2>
    <p class="subtitle is-6"><%= species.common_name %></p>
  </main>
</div>
