<div class="donate-page home-page container is-fluid">

  <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-10">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">
              <i class="fad has-text-primary fa-hand-holding-heart"></i>
              Donate
            </h1>
            <h2 class="subtitle">
              Support Trefle and help us grow!
            </h2>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <br>
      <br>
      <aside class="menu">
        <ul class="menu-list">
          <li><a href="#about">About Donations</a></li>
          <li><a href="#methods">Donation Methods</a></li>
          <li><a href="#usage">How Donations Are Used</a></li>
          <li><a href="#rewards">Donation Rewards</a></li>
          <li><a href="#company">Company Sponsorship</a></li>
          <li><a href="#terms">Sponsor Terms</a></li>
        </ul>
      </aside>
    </div>

    <div class="column is-10">

      <section class="section content" id="about">
        <h4 class="title is-4">
          Trefle is an Open Source API and the code & platform are provided totally free of charge. The project began as a passion project in our free time, but has grown to require significant resources to maintain and support the community. Donations help keep the servers running and allow us to dedicate more time to ongoing development.
        </h4>
      </section>

      <section class="section content" id="support">
        <h1 class="title is-4 ">
          <i class="fad fa-hand-heart has-text-success"></i> How to sponsor us
        </h1>
        <p><b>Sponsors have an extended request limit of 600 requests/minute.</b></p>
        <p>To do this, you need to
          <ol>
            <li><a href="<%= profile_path %>" target="_blank">Link your account to Github</a></li>
            <li><a href="https://github.com/sponsors/treflehq" target="_blank">Sponsor us on Github</a>.</li>
          </ol>
        </p>
        <p>Your account will then be upgraded within an hour, and your API token will change.</p>
      </section>


      <section class="section content" id="usage">
        <h1 class="title is-4">
          <i class="fad fa-server has-text-success"></i> How Are Donations Used?
        </h1>
        <p>
          The majority of donations cover the server costs of the Trefle infrastructure first, then help the Trefle team to improve and maintain the platform.
        </p>
      </section>
      

      <section class="section content" id="rewards">
        <h1 class="title is-4">
          <i class="fad fa-gift has-text-success"></i> Do I Receive Anything for My Donation?
        </h1>
        <p>
          Apart from our gratitude and an extended API rate limit, there are no material rewards for donations unless stated within our donation options. Some monthly sponsor options offer a bonus reward of public display of a company's sponsorship on our website and GitHub repo.
        </p>
        <p>
          If you could benefit from assured technical support, our support plans offer a way to support the project while gaining such support benefits.
        </p>
      </section>

      <section class="section content" id="company">
        <h1 class="title is-4">
          <i class="fad fa-building has-text-success"></i> Can a Company Sponsor the Project?
        </h1>
        <p>
          Absolutely! Within the GitHub Sponsors donation options, there are specific "Bronze", "Silver" and "Gold" company tiers. These provide the bonus benefit of your linked company logo being shown on the project homepage and in the project readme.
        </p>
        <p>
          If preferred, we can provide invoicing and bank transfer options for sponsorship, but this is only offered on an annual payment basis.
        </p>
      </section>

      <section class="section content" id="terms">
        <h1 class="title is-4">
          <i class="fad fa-file-contract has-text-success"></i> Sponsor Terms
        </h1>
        <ul>
          <li>We reserve the right to reject displaying your logo for any reason. Generally, we only want to advertise companies suitable for Trefle's audience.</li>
          <li>It's not always possible to refund a payment via our sponsor/donation options. If you need to be sure of a reward (that we'd display your logo), please contact us first to confirm eligibility before paying for a sponsor/donation tier.</li>
          <li>Provided logo files may be modified to ensure they display in a standardized and expected manner.</li>
          <li>Sponsor logo additions/removals may be delayed to be part of other site/project updates. Timings are not assured, but we generally aim to match the length of time displayed to the length of time for which you have sponsored the project.</li>
          <li>Provided logos are expected to be just the logo of a company, with no additional advertisement/marketing/messaging content.</li>
        </ul>
      </section>

    </div>