<div class="licence-page home-page container">

      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">
              <i class="fad has-text-primary fa-book"></i>

              Terms of use
            </h1>
            <h2 class="subtitle">
              How to use, cite and provide Trefle data.
            </h2>
          </div>
        </div>
      </section>
      <section class="section content" id="privacy">
        <p><b>The Trefle API aims to increase awareness and understanding of living plants by gathering, generating and sharing knowledge in an open, freely accessible and trusted digital resource. By using Trefle you accept and agree to abide by the following terms and conditions.</b></p>
      </section>


    <!-- <hr> -->
    <section class="section content" id="tldr">
      <h1 class="title is-4 ">
        <i class="fad fa-shipping-fast has-text-success"></i> TL;DR
      </h1>
      <ul>
        <li>The Trefle APIs are freely available for anyone to use.</li>
        <li>When sharing or reusing Trefle data, you must credit Trefle and the other data sources (if any) present in the JSON response of the data you are using.</li>
        <li>You must comply with the licenses associated with the Materials you acquire from Trefle, and agree to pass on all license terms and attributions associated with the objects as required by the licenses associated with those Materials.</li>
      </ul>
    </section>

    <!-- <hr> -->
    <section class="section content" id="community">
      <h1 class="title is-4 ">
        <i class="fad fa-user has-text-success"></i> Community
      </h1>
      <b>Together we can make Trefle the best, most comprehensive source for plants information.</b>
      <p>Anyone who registers for a user account is an Trefle Member. An Trefle Content Partner is an individual or organization that shares content for redisplay by Trefle. Anyone 13 years or older can register to become an Trefle member in order to take advantage of opportunities to download data from Trefle and use other interactive capabilities of the site. To register, visit the registration page .</p>
    </section>

    <section class="section content" id="usages">
      <h1 class="title is-4 ">
        <i class="fad fa-cog has-text-success"></i> Usage
      </h1>
      <p>The Trefle APIs are freely available for anyone to use. Currently, you must register with Trefle to indicate your desire to use them, which will allow us to better support your use of the API. </p>
      <p>If you develop a technology as a result of your use of Trefle and the Materials on Trefle, we encourage you to provide us with information about such technology. Sharing your success with us will help foster the Trefle community by providing examples of success. We may choose to feature your story or highlight your technology or product on the website.</p>
      <p>You also agree to comply with the licenses associated with the Materials you acquire from Trefle. You also agree to pass on all license terms and attributions associated with the objects as required by the licenses associated with those Materials.</p>
      <p>If you wish to acquire all or major portions of the Materials from any individual content provider, you are required to contact that content provider directly.</p>
      <p>We reserve the right to monitor usage of our APIs and to discontinue access to Trefle by users of the APIs who are determined to be in violation of this Agreement. If you have registered with us, we will make an effort to notify you of any potential violations. In addition to monitoring, we may maintain records of API use and information about the requestor.</p>
    </section>

    <section class="section content" id="credits">
      <h1 class="title is-4 ">
        <i class="fad fa-file-certificate has-text-success"></i> Credit
      </h1>
      <p>Data accessed through the Trefle API network is free for all—but not free of obligations. You must credit Trefle, as well as the other sources (which are included in the API response). Good citation practices ensure scientific transparency and reproducibility by guiding other researchers to the original sources of information. They also reward data-publishing institutions and individuals by reinforcing the value of sharing open data and demonstrating its impact to their stakeholders and funders.</p>
      <p>Trefle Content is provided by the community, and can be lacking of credits or be in a copyright violation. If you have any complaints or objections to content posted on Trefle because it was not properly credited or it was posted without permission and you are the copyright or trademark owner, please contact Trefle at hello@trefle.io and provide your contact information, a working link to the relevant content on Trefle, a statement that you are the copyright owner or the owner's agent, and links or other evidence supporting your claim of ownership.</p>
      <p>The Content is provided “as is” without a warranty of any kind, either expressed or implied, including but not limited to the implied warranties of merchantability, fitness for a particular use, and/or non-infringement. Trefle shall not be responsible or liable for any damage that may occur due to your use of Trefle or downloading any Content from Trefle. If you need specific advice (for example, medical or veterinarian) please seek a professional who is licensed or knowledgeable in the appropriate field.</p>
      <p>Certain names, titles, trademarks, service marks, and logos that appear on Trefle are registered or common law (unregistered) marks owned by Trefle members, Trefle content providers, or third parties. With the exception of fair use, you may not use such trademarks without the owner’s prior written permission. Nothing on Trefle shall be construed as granting any license to use any trademark displayed on Trefle without the express written permission of the owner of the trademark.</p>
    </section>

    <section class="section content" id="other">
      <p>Trefle reserves the right to change these Terms of Use from time to time without notice; changes shall be effective upon posting. Please check back regularly for updates. Failure of Trefle to enforce any of these terms shall not constitute a waiver of such terms.</p>
      <p><i>Last modified on Wed, 15 Jul 2020</i></p>
    </section>

    <hr>
    <section class="section content" id="contact">
      <h1 class="title is-4 ">
        <i class="fad fa-mailbox has-text-success"></i>

        Contact us
      </h1>
      <p>If you have questions, advices, partnerships or if you just want to say hello, please contact us, we'll be our pleasure to reply!</p>

    </section>
    <section class="section content" id="contact">
      <div class="columns">
        <div class="column is-4">
          <a href="mailto:hello@trefle.io">
            <h2 class="title is-5 has-text-centered">Send us a mail</h2>
            <p class="has-text-centered">hello@trefle.io</p>
          </a>
        </div>
        <div class="column is-4">
          <a title="Join us on Discord" href="https://discord.gg/fuamwgk" target="_blank">
            <h2 class="title is-5 has-text-centered">Join us on Discord</h2>
            <p class="has-text-centered">
              <span class="icon" style="color: #7289da;">
                <i class="fab fa-3x fa-lg fa-discord"></i>
              </span>
            </p>
          </a>
        </div>
        <div class="column is-4">
          <a title="Follow us on Twitter" href="https://twitter.com/trefle_api" target="_blank">
            <h2 class="title is-5 has-text-centered">Follow us on Twitter</h2>
            <p class="has-text-centered">
              <span class="icon" style="color: #55acee;">
                <i class="fab fa-3x fa-lg fa-twitter"></i>
              </span>
            </p>
          </a>
        </div>
      </div>
    </section>

</div>
