  <div class="columns">
      <div class="column is-3">
    </div>
    <div class="column is-9">

          <div class="container">
            <h1 class="title is-1">
              <i class="fad has-text-primary fa-clipboard-list-check"></i>
              Latest corrections
            </h1>
          </div>
    </div>
  </div>

  <hr />