  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    </div>

    <div id="navbar-trefle" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= explore_path %>">
          <i class="fad fa-search"></i><span> Search</span>
        </a>
        <a class="navbar-item" href="<%= explore_data_path %>">
          <i class="fad fa-database"></i><span> Data</span>
        </a>
      </div>

    </div>
  </nav>